In [12]:
import pandas as pd
import pandas as pd
import numpy as np
# 기존 plotnine(ggplot)코드를 pandas와 seaborn으로 변경
# from plotnine import *
import seaborn as sns
# 지도 시각화를 위해
import folium

import warnings
warnings.filterwarnings('ignore')
# warning 메시지 제거, warning 메시지는 라이브러리 업데이트나 사용법에 대한 안내 등이 있습니다.
# 코딩을 처음 시작할 때는  warning 메시지가 나오면 당황하실 수도 있어서 제거를 하고 보도록 합니다.
# warning 메시지는 제거하고 보셔도 되지만 Error 메시지를 꼭 고쳐주셔야 합니다.
warnings.filterwarnings('ignore', 'This pattern has match groups')
warnings.filterwarnings('ignore', 'The iterable function was deprecated in Matplotlib')

import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
# Window 의 한글 폰트 설정
# plt.rc('font',family='Malgun Gothic')
# Mac 의 한글 폰트 설정
plt.rc('font',family='Malgun Gothic') 
plt.rc('axes', unicode_minus=False)

set_matplotlib_formats('retina')

import json
import mpld3

In [19]:
shop = pd.read_csv(r'D:\사용자\USER\Desktop\데이터\경기상가.csv', encoding='cp949')
name_split = shop["시군구명"].str.split(" ")
shop["구"] = name_split.str.get(0)

In [20]:
mac = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('맥도날드')].copy()
mac.loc[mac['상호명'].str.contains('맥도날드'), '브랜드명'] = '맥도날드'
df_mac = pd.DataFrame(
    mac.groupby(['구', '브랜드명'])['상호명'].count()
).reset_index()
df_mac.columns = ['구', '브랜드명', '맥도날드']
df_mac = df_mac.sort_values(by='맥도날드',ascending=False)
df_mac = df_mac.reset_index(drop=True)
df_mac = df_mac.drop(columns=['브랜드명'], axis=1)


df_mac.loc[len(df_mac)] = ['파주시',0]
df_mac.loc[len(df_mac)] = ['광주시',0]
df_mac.loc[len(df_mac)] = ['여주시',0]
df_mac.loc[len(df_mac)] = ['가평군',0]
df_mac.loc[len(df_mac)] = ['연천군',0]
df_mac.loc[len(df_mac)] = ['양평군',0]


df_mac

       구  맥도날드
0    수원시    17
1    고양시    14
2    용인시    13
3    성남시     9
4    부천시     7
5    이천시     6
6   의정부시     6
7   남양주시     6
8    오산시     5
9    광명시     5
10   평택시     5
11   화성시     4
12   안양시     3
13   김포시     3
14   안산시     3
15   과천시     2
16   군포시     2
17   구리시     2
18   안성시     1
19   양주시     1
20   시흥시     1
21  동두천시     1
22   의왕시     1
23   포천시     1
24   하남시     1
25   파주시     0
26   광주시     0
27   여주시     0
28   가평군     0
29   연천군     0
30   양평군     0

In [21]:
li=['수원시','성남시','의정부시','안양시','부천시','광명시',
    '평택시','동두천시','안산시','고양시','과천시','구리시',
    '남양주시','오산시','시흥시','군포시','의왕시','하남시',
    '용인시','파주시','이천시','안성시','김포시','화성시',
    '광주시','양주시','포천시','여주시','연천군','가평군','양평군']


li2=list(df_mac['구'])

for i in li:
    if(i not in li2):
        print(i+" ")

In [22]:
mac2 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('스타벅스')].copy()
mac2.loc[mac2['상호명'].str.contains('스타벅스'), '브랜드명'] = '스타벅스'
df_mac2 = pd.DataFrame(
    mac2.groupby(['구', '브랜드명'])['상호명'].count()
).reset_index()
df_mac2.columns = ['구', '브랜드명', '스타벅스']
df_mac2 = df_mac2.sort_values(by='스타벅스',ascending=False)
df_mac2 = df_mac2.reset_index(drop=True)
df_mac2 = df_mac2.drop(columns=['브랜드명'], axis=1)


df_mac2.loc[len(df_mac2)] = ['연천군',0]

df_mac2

       구  스타벅스
0    성남시    49
1    고양시    42
2    수원시    32
3    용인시    28
4    안양시    18
5    부천시    17
6    화성시    16
7    김포시    14
8   남양주시    12
9    시흥시    11
10  의정부시    10
11   광명시    10
12   하남시    10
13   이천시     8
14   파주시     8
15   평택시     8
16   오산시     7
17   안성시     7
18   양주시     7
19   안산시     7
20   군포시     5
21   광주시     5
22   포천시     5
23   양평군     3
24   여주시     3
25  동두천시     3
26   구리시     3
27   과천시     3
28   의왕시     2
29   가평군     2
30   연천군     0

In [23]:
li=['수원시','성남시','의정부시','안양시','부천시','광명시',
    '평택시','동두천시','안산시','고양시','과천시','구리시',
    '남양주시','오산시','시흥시','군포시','의왕시','하남시',
    '용인시','파주시','이천시','안성시','김포시','화성시',
    '광주시','양주시','포천시','여주시','연천군','가평군','양평군']


li2=list(df_mac2['구'])

for i in li:
    if(i not in li2):
        print(i+" ")

In [28]:
mac3 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('베스킨라빈스')].copy()
mac3.loc[mac3['상호명'].str.contains('베스킨라빈스'), '브랜드명'] = '베스킨라빈스'
df_mac3 = pd.DataFrame(
    mac3.groupby(['구', '브랜드명'])['상호명'].count()
).reset_index()
df_mac3.columns = ['구', '브랜드명', '베스킨라빈스']
df_mac3 = df_mac3.sort_values(by='베스킨라빈스',ascending=False)
df_mac3 = df_mac3.reset_index(drop=True)
df_mac3 = df_mac3.drop(columns=['브랜드명'], axis=1)

df_mac3.loc[len(df_mac3)] = ['여주시',0]
df_mac3.loc[len(df_mac3)] = ['연천군',0]


df_mac3

       구  베스킨라빈스
0    수원시      18
1    용인시      15
2    화성시      13
3    고양시      12
4    성남시      11
5    부천시       9
6   남양주시       8
7    안양시       8
8    안산시       8
9    파주시       3
10   군포시       3
11   구리시       3
12   시흥시       3
13   김포시       3
14   의왕시       3
15   이천시       3
16   광주시       2
17   안성시       2
18   양평군       2
19  의정부시       2
20  동두천시       1
21   하남시       1
22   포천시       1
23   평택시       1
24   오산시       1
25   과천시       1
26   양주시       1
27   광명시       1
28   가평군       1
29   여주시       0
30   연천군       0

In [34]:
li=['수원시','성남시','의정부시','안양시','부천시','광명시',
    '평택시','동두천시','안산시','고양시','과천시','구리시',
    '남양주시','오산시','시흥시','군포시','의왕시','하남시',
    '용인시','파주시','이천시','안성시','김포시','화성시',
    '광주시','양주시','포천시','여주시','연천군','가평군','양평군']


li2=list(df_mac5['구'])

for i in li:
    if(i not in li2):
        print(i+" ")

과천시
의왕시
연천군
가평군

In [31]:
mac4 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('올리브영')].copy()
mac4.loc[mac4['상호명'].str.contains('올리브영'), '브랜드명'] = '올리브영'
df_mac4 = pd.DataFrame(
    mac4.groupby(['구', '브랜드명'])['상호명'].count()
).reset_index()
df_mac4.columns = ['구', '브랜드명', '올리브영']
df_mac4 = df_mac4.sort_values(by='올리브영',ascending=False)
df_mac4 = df_mac4.reset_index(drop=True)
df_mac4 = df_mac4.drop(columns=['브랜드명'], axis=1)

df_mac4.loc[len(df_mac4)] = ['동두천시',0]
df_mac4.loc[len(df_mac4)] = ['가평군',0]
df_mac4.loc[len(df_mac4)] = ['양평군',0]


df_mac4

       구  올리브영
0    성남시    38
1    고양시    26
2    수원시    23
3    부천시    18
4    용인시    16
5    화성시    16
6    김포시    11
7    파주시    11
8    안산시    10
9    평택시     9
10   구리시     8
11  의정부시     7
12  남양주시     6
13   하남시     5
14   이천시     5
15   광명시     4
16   오산시     4
17   안양시     4
18   시흥시     4
19   양주시     3
20   안성시     3
21   군포시     3
22   과천시     2
23   광주시     2
24   포천시     2
25   여주시     1
26   의왕시     1
27   연천군     1
28  동두천시     0
29   가평군     0
30   양평군     0

In [35]:
mac5 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('나이키')].copy()
mac5.loc[mac5['상호명'].str.contains('나이키'), '브랜드명'] = '나이키'
df_mac5 = pd.DataFrame(
    mac5.groupby(['구', '브랜드명'])['상호명'].count()
).reset_index()
df_mac5.columns = ['구', '브랜드명', '나이키']
df_mac5 = df_mac5.sort_values(by='나이키',ascending=False)
df_mac5 = df_mac5.reset_index(drop=True)
df_mac5 = df_mac5.drop(columns=['브랜드명'], axis=1)

df_mac5.loc[len(df_mac5)] = ['과천시',0]
df_mac5.loc[len(df_mac5)] = ['가평군',0]
df_mac5.loc[len(df_mac5)] = ['연천군',0]
df_mac5.loc[len(df_mac5)] = ['의왕시',0]


df_mac5

       구  나이키
0    수원시   15
1    부천시   12
2    용인시   10
3    평택시    9
4    고양시    8
5    성남시    8
6    이천시    8
7    안산시    8
8    파주시    7
9    화성시    7
10   김포시    7
11  남양주시    6
12   안양시    5
13   시흥시    5
14   광주시    4
15  의정부시    4
16   구리시    3
17   하남시    3
18   포천시    2
19   여주시    2
20  동두천시    1
21   오산시    1
22   군포시    1
23   양평군    1
24   양주시    1
25   광명시    1
26   안성시    1
27   과천시    0
28   가평군    0
29   연천군    0
30   의왕시    0

In [36]:
m1=pd.merge(df_mac, df_mac2 ,on="구")
m2=pd.merge(df_mac3, df_mac4 ,on="구")
m3=pd.merge(m1, m2 ,on="구")
m4=pd.merge(m3, df_mac5 ,on="구")
m4

       구  맥도날드  스타벅스  베스킨라빈스  올리브영  나이키
0    수원시    17    32      18    23   15
1    고양시    14    42      12    26    8
2    용인시    13    28      15    16   10
3    성남시     9    49      11    38    8
4    부천시     7    17       9    18   12
5    이천시     6     8       3     5    8
6   의정부시     6    10       2     7    4
7   남양주시     6    12       8     6    6
8    오산시     5     7       1     4    1
9    광명시     5    10       1     4    1
10   평택시     5     8       1     9    9
11   화성시     4    16      13    16    7
12   안양시     3    18       8     4    5
13   김포시     3    14       3    11    7
14   안산시     3     7       8    10    8
15   과천시     2     3       1     2    0
16   군포시     2     5       3     3    1
17   구리시     2     3       3     8    3
18   안성시     1     7       2     3    1
19   양주시     1     7       1     3    1
20   시흥시     1    11       3     4    5
21  동두천시     1     3       1     0    1
22   의왕시     1     2       3     1    0
23   포천시     1     5       1     2    2
24   하남시     1    10       1     5    3
25   파주시     0     8       3    11    7
26   광주시     0     5       2     2    4
27   여주시     0     3       0     1    2
28   가평군     0     2       1     0    0
29   연천군     0     0       0     1    0
30   양평군     0     3       2     0    1

In [48]:


df=pd.read_csv(r'D:\사용자\USER\Desktop\데이터\경기도\경기도인구.csv', encoding='cp949', thousands=',')
df['구']=''
name_split = df["행정구역"].str.split(" ")
df["구"] = name_split.str.get(1)

df = df.drop(columns=['행정구역'], axis=1)

m4=pd.merge(m4, df ,on="구")
m4

m4.to_excel('D:\사용자\\USER\\Desktop\\데이터\\경기도\\경기상권.xlsx', index=False)

In [42]:
def make_plot(file,col):
    
    path='D:\\사용자\\USER\\Desktop\\데이터\\경기도\\'+file+'.csv'
    
    
    library=pd.read_csv(path, encoding='cp949')

    df=library
    df = pd.DataFrame({'group':df['구'], 'values':df[col] })

    return df

In [49]:
seoul_health1=make_plot("서울경기상권2",'맥도날드')
seoul_health2=make_plot("서울경기상권2",'스타벅스')
seoul_health3=make_plot("서울경기상권2",'베스킨라빈스')
seoul_health4=make_plot("서울경기상권2",'올리브영')
seoul_health5=make_plot("서울경기상권2",'나이키')

In [50]:
def normal(df):
    data=list(df['values'])
    std_data = (data - np.mean(data,axis = 0))/ np.std(data,axis = 0)
    normalization=(std_data-min(std_data))/(max(std_data)-min(std_data))
    df['values']=normalization
    return df

In [51]:
d1=normal(seoul_health1)
d2=normal(seoul_health2)
d3=normal(seoul_health3)
d4=normal(seoul_health4)
d5=normal(seoul_health5)
mm1=pd.merge(d1, d2 ,on="group")
mm2=pd.merge(d3, d4 ,on="group")
mm3=pd.merge(mm1, mm2 ,on="group")
mm4=pd.merge(mm3, d5 ,on="group")
mm4

   group  values_x_x  values_y_x  values_x_y  values_y_y    values
0    강남구    0.500815    0.423606    0.306878    0.614854  0.296448
1    서초구    0.464758    0.280524    0.783154    0.277863  0.084060
2    종로구    1.000000    0.608500    0.748924    0.750265  0.120578
3    금천구    0.630749    0.136191    0.472383    0.236614  0.380273
4    양천구    0.323732    0.076255    0.606127    0.121442  0.078070
5    송파구    0.220869    0.143070    0.248122    0.186424  0.159792
6    강동구    0.261175    0.079975    0.352080    0.191052  0.075581
7    강서구    0.210445    0.084269    0.189129    0.118417  0.152251
8    구로구    0.304842    0.064624    0.547928    0.120074  0.132326
9    노원구    0.235955    0.066694    0.530136    0.106217  0.034141
10   은평구    0.204534    0.054200    0.574428    0.115091  0.000000
11  영등포구    0.256938    0.211825    0.288641    0.271085  0.185887
12   마포구    0.262216    0.216176    0.294570    0.295098  0.094853
13   동작구    0.250373    0.081090    0.000000    0.193716  0.090569
14   강북구    0.321912    0.047391    0.723264    0.090570  0.116447
15  서대문구    0.237462    0.177124    0.533523    0.311779  0.057266
16   성북구    0.168145    0.099015    0.377783    0.157691  0.040549
17  동대문구    0.215403    0.067650    0.322641    0.121207  0.155838
18   도봉구    0.227986    0.017901    0.170744    0.064144  0.000000
19    중구    0.592384    1.000000    0.000000    1.000000  1.000000
20   성동구    0.168337    0.059477    0.378214    0.189446  0.060893
21   광진구    0.142068    0.150588    0.797987    0.199854  0.205564
22   관악구    0.099358    0.064360    0.446471    0.139772  0.071883
23   중랑구    0.124751    0.051423    0.280287    0.035099  0.045127
24   용산구    0.107827    0.279382    0.000000    0.151685  0.312037
25   수원시    0.348477    0.077255    0.829005    0.132647  0.222452
26   고양시    0.314201    0.111014    0.605091    0.164172  0.129894
27   용인시    0.291913    0.074049    0.756763    0.101082  0.162454
28   성남시    0.234273    0.150219    0.643327    0.278298  0.150657
29   부천시    0.209756    0.059995    0.605922    0.151752  0.260146
30   이천시    0.653038    0.102548    0.733614    0.153110  0.629937
31  의정부시    0.314112    0.061657    0.235246    0.103104  0.151500
32  남양주시    0.200147    0.047144    0.599579    0.056311  0.144800
33   오산시    0.526089    0.086744    0.236401    0.118412  0.076122
34   광명시    0.410695    0.096738    0.184547    0.092439  0.059425
35   평택시    0.218738    0.041219    0.098291    0.110775  0.284850
36   화성시    0.110771    0.052184    0.808851    0.124661  0.140244
37   안양시    0.132683    0.093760    0.794957    0.049774  0.159987
38   김포시    0.149984    0.082433    0.336980    0.154726  0.253188
39   안산시    0.111196    0.030557    0.666222    0.104283  0.214526
40   과천시    0.696683    0.123077    0.782644    0.196011  0.000000
41   군포시    0.179858    0.052956    0.606149    0.075904  0.065061
42   구리시    0.250524    0.044258    0.844306    0.281939  0.271870
43   안성시    0.127918    0.105458    0.574805    0.107969  0.092545
44   양주시    0.102865    0.084804    0.231115    0.086823  0.074420
45   시흥시    0.047398    0.061405    0.319476    0.053341  0.171454
46  동두천시    0.259688    0.091754    0.583460    0.000000  0.187876
47   의왕시    0.148361    0.034946    1.000000    0.041741  0.000000
48   포천시    0.163582    0.096328    0.367531    0.092047  0.236693
49   하남시    0.078161    0.092054    0.175610    0.109953  0.169642
50   파주시    0.000000    0.048013    0.343477    0.157709  0.258069
51   광주시    0.000000    0.037026    0.282541    0.035381  0.181959
52   여주시    0.000000    0.076330    0.000000    0.060782  0.312591
53   가평군    0.000000    0.091596    0.873689    0.000000  0.000000
54   연천군    0.000000    0.000000    0.000000    0.158938  0.000000
55   양평군    0.000000    0.070862    0.901224    0.000000  0.145099

In [52]:
mm4.to_excel('D:\사용자\\USER\\Desktop\\데이터\\경기도\\서울경기상권최종.xlsx', index=False)