In [1]:
import pandas as pd
import pandas as pd
import numpy as np
# 기존 plotnine(ggplot)코드를 pandas와 seaborn으로 변경
# from plotnine import *
import seaborn as sns
# 지도 시각화를 위해
import folium

import warnings
warnings.filterwarnings('ignore')
# warning 메시지 제거, warning 메시지는 라이브러리 업데이트나 사용법에 대한 안내 등이 있습니다.
# 코딩을 처음 시작할 때는  warning 메시지가 나오면 당황하실 수도 있어서 제거를 하고 보도록 합니다.
# warning 메시지는 제거하고 보셔도 되지만 Error 메시지를 꼭 고쳐주셔야 합니다.
warnings.filterwarnings('ignore', 'This pattern has match groups')
warnings.filterwarnings('ignore', 'The iterable function was deprecated in Matplotlib')

import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
# Window 의 한글 폰트 설정
# plt.rc('font',family='Malgun Gothic')
# Mac 의 한글 폰트 설정
plt.rc('font',family='Malgun Gothic') 
plt.rc('axes', unicode_minus=False)

set_matplotlib_formats('retina')

import json
import mpld3

In [2]:
shop = pd.read_csv(r'D:\사용자\USER\Desktop\데이터\서울상가.csv', encoding='cp949')

In [8]:
mac = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('맥도날드')].copy()
mac.loc[mac['상호명'].str.contains('맥도날드'), '브랜드명'] = '맥도날드'
df_mac = pd.DataFrame(
    mac.groupby(['시군구명', '브랜드명'])['상호명'].count()
).reset_index()
df_mac.columns = ['구', '브랜드명', '맥도날드']
df_mac = df_mac.sort_values(by='맥도날드',ascending=False)
df_mac = df_mac.reset_index(drop=True)
df_mac = df_mac.drop(columns=['브랜드명'], axis=1)
df_mac

       구  맥도날드
0    강남구    11
1    서초구     8
2    종로구     6
3    금천구     6
4    양천구     6
5    송파구     6
6    강동구     5
7    강서구     5
8    구로구     5
9    노원구     5
10   은평구     4
11  영등포구     4
12   마포구     4
13   동작구     4
14   강북구     4
15  서대문구     3
16   성북구     3
17  동대문구     3
18   도봉구     3
19    중구     3
20   성동구     2
21   광진구     2
22   관악구     2
23   중랑구     2
24   용산구     1

In [10]:
mac2 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('스타벅스')].copy()
mac2.loc[mac2['상호명'].str.contains('스타벅스'), '브랜드명'] = '스타벅스'
df_mac2 = pd.DataFrame(
    mac2.groupby(['시군구명', '브랜드명'])['상호명'].count()
).reset_index()
df_mac2.columns = ['구', '브랜드명', '스타벅스']
df_mac2 = df_mac2.sort_values(by='스타벅스',ascending=False)
df_mac2 = df_mac2.reset_index(drop=True)
df_mac2 = df_mac2.drop(columns=['브랜드명'], axis=1)
df_mac2

       구  스타벅스
0    강남구    79
1     중구    43
2    서초구    41
3    송파구    33
4    종로구    31
5   영등포구    28
6    마포구    28
7    용산구    22
8   서대문구    19
9    광진구    18
10   강서구    17
11   성북구    15
12   강동구    13
13   노원구    12
14   양천구    12
15   관악구    11
16   금천구    11
17   동작구    11
18   구로구     9
19   은평구     9
20  동대문구     8
21   중랑구     7
22   성동구     6
23   강북구     5
24   도봉구     2

In [22]:
mac3 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('베스킨라빈스')].copy()
mac3.loc[mac3['상호명'].str.contains('베스킨라빈스'), '브랜드명'] = '베스킨라빈스'
df_mac3 = pd.DataFrame(
    mac3.groupby(['시군구명', '브랜드명'])['상호명'].count()
).reset_index()
df_mac3.columns = ['구', '브랜드명', '베스킨라빈스']
df_mac3 = df_mac3.sort_values(by='베스킨라빈스',ascending=False)
df_mac3 = df_mac3.reset_index(drop=True)
df_mac3 = df_mac3.drop(columns=['브랜드명'], axis=1)

df_mac3.loc['22']=['중구',0]
df_mac3.loc['23']=['용산구',0]
df_mac3.loc['24']=['동작구',0]

df_mac3

       구  베스킨라빈스
0    서초구       6
1    광진구       5
2    은평구       5
3    노원구       5
4    양천구       5
5    강북구       4
6    관악구       4
7    구로구       4
8    강남구       3
9    성북구       3
10   강동구       3
11  서대문구       3
12   송파구       3
13   종로구       2
14  영등포구       2
15   마포구       2
16   성동구       2
17  동대문구       2
18   금천구       2
19   강서구       2
20   중랑구       2
21   도봉구       1
22    중구       0
23   용산구       0
24   동작구       0

In [12]:
mac4 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('올리브영')].copy()
mac4.loc[mac4['상호명'].str.contains('올리브영'), '브랜드명'] = '올리브영'
df_mac4 = pd.DataFrame(
    mac4.groupby(['시군구명', '브랜드명'])['상호명'].count()
).reset_index()
df_mac4.columns = ['구', '브랜드명', '올리브영']
df_mac4 = df_mac4.sort_values(by='올리브영',ascending=False)
df_mac4 = df_mac4.reset_index(drop=True)
df_mac4 = df_mac4.drop(columns=['브랜드명'], axis=1)
df_mac4

       구  올리브영
0    강남구    48
1     중구    18
2    송파구    18
3    서초구    17
4    종로구    16
5    마포구    16
6   영등포구    15
7   서대문구    14
8    강동구    13
9    동작구    11
10   강서구    10
11   광진구    10
12   성북구    10
13   관악구    10
14   성동구     8
15   노원구     8
16   은평구     8
17   금천구     8
18   양천구     8
19   구로구     7
20  동대문구     6
21   용산구     5
22   강북구     4
23   도봉구     3
24   중랑구     2

In [23]:
mac5 = shop[shop["상호명"].notnull() &shop['상호명'].str.contains('나이키')].copy()
mac5.loc[mac5['상호명'].str.contains('나이키'), '브랜드명'] = '나이키'
df_mac5 = pd.DataFrame(
    mac5.groupby(['시군구명', '브랜드명'])['상호명'].count()
).reset_index()
df_mac5.columns = ['구', '브랜드명', '나이키']
df_mac5 = df_mac5.sort_values(by='나이키',ascending=False)
df_mac5 = df_mac5.reset_index(drop=True)
df_mac5 = df_mac5.drop(columns=['브랜드명'], axis=1)
df_mac5.loc['23']=['도봉구',0]
df_mac5.loc['24']=['은평구',0]
df_mac5

       구  나이키
0    강남구    9
1     중구    7
2    송파구    6
3    강서구    5
4    금천구    5
5    용산구    4
6    광진구    4
7   영등포구    4
8    구로구    3
9   동대문구    3
10   서초구    2
11   양천구    2
12   마포구    2
13   강동구    2
14   동작구    2
15   관악구    2
16   강북구    2
17  서대문구    1
18   성동구    1
19   성북구    1
20   노원구    1
21   종로구    1
22   중랑구    1
23   도봉구    0
24   은평구    0

In [25]:
m1=pd.merge(df_mac, df_mac2 ,on="구")
m2=pd.merge(df_mac3, df_mac4 ,on="구")
m3=pd.merge(m1, m2 ,on="구")
m4=pd.merge(m3, df_mac5 ,on="구")
m4
df=pd.read_csv(r'D:\사용자\USER\Desktop\데이터\건강\서울총인구.csv', encoding='cp949', thousands=',')
df['구']=''
name_split = df["행정구역"].str.split(" ")
df["구"] = name_split.str.get(1)

df = df.drop(columns=['행정구역'], axis=1)

m4=pd.merge(m4, df ,on="구")
m4

       구  맥도날드  스타벅스  베스킨라빈스  올리브영  나이키     인구수
0    강남구    11    79       3    48    9  532818
1    서초구     8    41       6    17    2  417568
2    종로구     6    31       2    16    1  145551
3    금천구     6    11       2     8    5  230759
4    양천구     6    12       5     8    2  449603
5    송파구     6    33       3    18    6  658991
6    강동구     5    13       3    13    2  464411
7    강서구     5    17       2    10    5  576361
8    구로구     5     9       4     7    3  397887
9    노원구     5    12       5     8    1  514050
10   은평구     4     9       5     8    0  474414
11  영등포구     4    28       2    15    4  377655
12   마포구     4    28       2    16    2  370053
13   동작구     4    11       0    11    2  387558
14   강북구     4     5       4     4    2  301430
15  서대문구     3    19       3    14    1  306472
16   성북구     3    15       3    10    1  432815
17  동대문구     3     8       2     6    3  337857
18   도봉구     3     2       1     3    0  319211
19    중구     3    43       0    18    7  122852
20   성동구     2     6       2     8    1  288214
21   광진구     2    18       5    10    4  341505
22   관악구     2    11       4    10    2  488304
23   중랑구     2     7       2     2    1  388911
24   용산구     1    22       0     5    4  224977

In [26]:
m4.to_excel('D:\사용자\\USER\\Desktop\\데이터\\상권\\서울상권.xlsx', index=False)

In [34]:
mac6 = shop[shop["상권업종소분류명"].notnull() &shop['상권업종소분류명'].str.contains('편의점')].copy()
mac6.loc[mac6['상권업종소분류명'].str.contains('편의점'), '브랜드명'] = '편의점'
df_mac6 = pd.DataFrame(
    mac6.groupby(['시군구명', '브랜드명'])['상권업종소분류명'].count()
).reset_index()
df_mac6.columns = ['구', '브랜드명', '편의점']
df_mac6 = df_mac6.sort_values(by='편의점',ascending=False)
df_mac6 = df_mac6.reset_index(drop=True)
df_mac6 = df_mac6.drop(columns=['브랜드명'], axis=1)


df=pd.read_csv(r'D:\사용자\USER\Desktop\데이터\건강\서울총인구.csv', encoding='cp949', thousands=',')
df['구']=''
name_split = df["행정구역"].str.split(" ")
df["구"] = name_split.str.get(1)

df = df.drop(columns=['행정구역'], axis=1)

df2=pd.merge(df_mac6, df ,on="구")

df2

       구  편의점     인구수
0    강남구  649  532818
1    강서구  457  576361
2   영등포구  446  377655
3    송파구  398  658991
4    관악구  387  488304
5    서초구  360  417568
6    성북구  359  432815
7    마포구  356  370053
8    광진구  331  341505
9    강동구  312  464411
10   구로구  310  397887
11  동대문구  301  337857
12   은평구  296  474414
13    중구  285  122852
14   동작구  284  387558
15   노원구  278  514050
16   중랑구  255  388911
17   성동구  246  288214
18   금천구  244  230759
19  서대문구  242  306472
20   종로구  235  145551
21   양천구  232  449603
22   용산구  227  224977
23   도봉구  207  319211
24   강북구  199  301430

In [30]:
def normal(df):
    data=list(df['편의점'])
    std_data = (data - np.mean(data,axis = 0))/ np.std(data,axis = 0)
    normalization=(std_data-min(std_data))/(max(std_data)-min(std_data))
    df['편의점']=normalization
    return df

In [31]:
df=normal(df_mac6)
df

       구       편의점
0    강남구  1.000000
1    강서구  0.573333
2   영등포구  0.548889
3    송파구  0.442222
4    관악구  0.417778
5    서초구  0.357778
6    성북구  0.355556
7    마포구  0.348889
8    광진구  0.293333
9    강동구  0.251111
10   구로구  0.246667
11  동대문구  0.226667
12   은평구  0.215556
13    중구  0.191111
14   동작구  0.188889
15   노원구  0.175556
16   중랑구  0.124444
17   성동구  0.104444
18   금천구  0.100000
19  서대문구  0.095556
20   종로구  0.080000
21   양천구  0.073333
22   용산구  0.062222
23   도봉구  0.017778
24   강북구  0.000000

In [36]:
dff=normal(df2)
dff

       구       편의점     인구수
0    강남구  1.000000  532818
1    강서구  0.573333  576361
2   영등포구  0.548889  377655
3    송파구  0.442222  658991
4    관악구  0.417778  488304
5    서초구  0.357778  417568
6    성북구  0.355556  432815
7    마포구  0.348889  370053
8    광진구  0.293333  341505
9    강동구  0.251111  464411
10   구로구  0.246667  397887
11  동대문구  0.226667  337857
12   은평구  0.215556  474414
13    중구  0.191111  122852
14   동작구  0.188889  387558
15   노원구  0.175556  514050
16   중랑구  0.124444  388911
17   성동구  0.104444  288214
18   금천구  0.100000  230759
19  서대문구  0.095556  306472
20   종로구  0.080000  145551
21   양천구  0.073333  449603
22   용산구  0.062222  224977
23   도봉구  0.017778  319211
24   강북구  0.000000  301430

In [37]:
dff.to_excel('D:\사용자\\USER\\Desktop\\데이터\\상권\\정규화서울편의점.xlsx', index=False)