In [1]:
import pandas as pd
import pandas as pd
import numpy as np
# 기존 plotnine(ggplot)코드를 pandas와 seaborn으로 변경
# from plotnine import *
import seaborn as sns
# 지도 시각화를 위해
import folium

import warnings
warnings.filterwarnings('ignore')
# warning 메시지 제거, warning 메시지는 라이브러리 업데이트나 사용법에 대한 안내 등이 있습니다.
# 코딩을 처음 시작할 때는  warning 메시지가 나오면 당황하실 수도 있어서 제거를 하고 보도록 합니다.
# warning 메시지는 제거하고 보셔도 되지만 Error 메시지를 꼭 고쳐주셔야 합니다.
warnings.filterwarnings('ignore', 'This pattern has match groups')
warnings.filterwarnings('ignore', 'The iterable function was deprecated in Matplotlib')

import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
# Window 의 한글 폰트 설정
# plt.rc('font',family='Malgun Gothic')
# Mac 의 한글 폰트 설정
plt.rc('font',family='Malgun Gothic') 
plt.rc('axes', unicode_minus=False)

set_matplotlib_formats('retina')

import json
import mpld3

In [9]:
def make_plot(file,col):
    
    path='D:\\사용자\\USER\\Desktop\\데이터\\부동산\\'+file+'.csv'
    
    
    library=pd.read_csv(path, encoding='cp949')

    df=library
    df = pd.DataFrame({'group':df['구군'], 'values':df[col] })


    return df

In [10]:
seoul_health1=make_plot("집값2",'집값')

In [11]:
def normal(df):
    data=list(df['values'])
    std_data = (data - np.mean(data,axis = 0))/ np.std(data,axis = 0)
    normalization=(std_data-min(std_data))/(max(std_data)-min(std_data))
    df['values']=normalization
    return df

In [12]:
d1=normal(seoul_health1)

In [14]:
d1['values']=1-d1['values']

In [15]:
d1

    group    values
0     종로구  0.491142
1      중구  0.454868
2     용산구  0.275629
3     성동구  0.284953
4     광진구  0.372908
..    ...       ...
224   함양군  0.940949
225   거창군  0.938729
226   합천군  0.976468
227   제주시  0.812148
228  서귀포시  0.865249

[229 rows x 2 columns]

In [16]:
d1.to_excel('D:\사용자\\USER\\Desktop\\데이터\\부동산\\정규화집값.xlsx', index=False)